{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
	<div class="row">
        <div class="col-md-7">
            <h1>Woodcut Algorithm</h1>
            <br>
            <p>Wood cutting is an application of the <a href="https://en.wikipedia.org/wiki/Cutting_stock_problem">Cutting Stock Problem</a>. This app demonstrates a solution to lay out wood pieces for cutting in way that minimizes waste.</p>
            <p>The tool takes Material Size and Item List as inputs. It returns the optimal placement of wood pieces on a board, for production optimization. More info in <a href="{{ url_for('about')}}">About</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h2>Input</h2>
            <br>
        	<p>Enter your parameters:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <form class="form" id="calc">
            {{ wtf.form_errors(form) }}
            {{ wtf.form_field(form.material_size) }}
            {{ wtf.form_field(form.item_list) }}
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.submit)}}
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
        <span id="output"></span>
        <p id="load"></p>
        <p id="time"></p>
        </div>
    </div>
{% endblock %}


{%block app_scripts %}
    <script>
        $(document).ready(function() {

            $('form').submit(function (event) {

                $('#load').html('<img src="{{ url_for('static', filename='loading.gif') }}">');

                $.post('/cut', $('form').serialize() )
                .done( function(data){
                    // alert(data['payload']);
                    $('#output').html('<h2>Output</h2>');
                    $('#load').text(data['payload']);
                    $('#time').text(data['time']);
                }).fail(function() {
                    $('#load').text('Error: Could not calculate optimal placement. Check values.');
                });
                event.preventDefault(); // block the traditional submission of the form.
            });
            // Inject our CSRF token into our AJAX request.
            
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                    }
                }
            });
        });
    </script>
{% endblock %}